body, html 
{	
	border: 0;
    padding-top: 0;
    margin: 0;
    outline: 0;
    min-width: 300px;
    width: 100%;
    height: 100%; 
    max-width: auto;
}
img{
	border: 0;
    padding: 0;
    margin: 0;
    display: block;
}
div{
	border:0;
	margin: 0;
	padding: 0;
}

@keyframes slideInFromLeft {
  0% {
    transform: translateX(-80%);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes slideInFromLeftAlumni {
  0% {
    transform: translateX(-130%);
  }
  100% {
    transform: translateX(0);
  }
}

.typewritertextlocation {
  text-align: center;
  color:#fff;
  position: absolute;
  width: 100%;
  top: 250px;
  z-index: 5;
}

.mySlides{
	display: none; 
}

.slideshowcontainer{
	max-width: 100%;
	position: relative;
	margin: auto;
	height: 100%;
}

.active{
	background-color: rgba(119, 119, 119,0.5);
}

.fade{
	-webkit-animation-name: fade;
	-webkit-animation-duration:2s;
	animation-name: fade;
	animation-duration: 2s;
}

@-webkit-keyframes fade{
	from{opacity: 1}
	to{opacity: 1}
}

@keyframes fade{
	from{opacity: 1}
	to{opacity: 1}
}



.menulistfixed{
	position: fixed;
}
.menulist{
	 
	list-style: none;
	margin:0px;
	width: 100%;
	padding:0px;
	line-height: 60px;
	background-color: rgba(46,46,46,0);
	position: absolute;
	z-index: 99;
	height: 80px;
	top: 0;
	position: fixed;

}

.menulistscrolled{
	list-style: none;
	margin:0px;
	width: 100%;
	padding:0px;
	line-height: 60px;
	background-color: rgb(46,46,46);
	position: absolute;
	z-index: 99;
	height: 80px;
	top: 0;
	position: fixed;
}


@font-face {
    font-family: myFirstFont;
    src: url(RobotoSlab-Regular.ttf);
}
.menulistitem{
	animation: 1s ease-out 0s 1 slideInFromLeft;
	font-family: myFirstFont ;
	float: right;
	display: inline;
	padding-top: 0px;
	position: relative;
	font-size: 110%;
	right: 40px;

}

.nospace{
	display: block;
}
.menulistitem1{
	animation: 1.5s ease-out 0s 1 slideInFromLeft;
	float: left;
	display: inline;
	padding-top: 0;
	padding-bottom: 50px;
	position: relative;
	left: 80px;
}
.menulistitem a{
	display: block;
	color: rgb(255,255,255);
	text-align: center;
	padding: 10px 20px;
	text-decoration: none;
}

.menulistitem a:hover{
	background-color: rgb(66, 134, 244);

}

.image1{
	padding-top: 0px;
	padding: 0px;
}

.image {
position: relative; 
   width: 100%;
}

.parallaxAbout{
	background-image: url("GOPR0522.JPG");
	height: auto;
	padding-top: 0;
	position: relative;
	background-repeat: repeat-y;
	background-attachment: fixed;
	width: 100%;
	padding: 0;
	background-size: cover;	
	vertical-align: top;
	display: inline-block;
}

.paddingAbouttext{
	padding-left: 100px;
	padding-right: 100px;
	padding-bottom: 0;
}
.textimageabout
{ 
	position: relative;
   	font-family: myFirstFontthin ;
   	text-align: justify;
   	color: rgb(230, 230, 230); 
  	background-color: rgba(25,25,25,0.7);
  	background-size:cover ;
   	height: auto;
   	width: 100%;
   	top: 0px;
   	font-size: 140%; 
   	margin: 0;
   	display: inline-block;
   	padding-bottom: 20px;
   }

@font-face {
    font-family: myFirstFontthin;
    src: url(RobotoSlab-Light.ttf);
}
@font-face {
    font-family: myFirstFonttt;
    src: url(RobotoSlab-Bold.ttf);
}

.Aboutheading{
	color: rgb(66, 134, 244);  
	text-align: center;
	padding-top: 10px;
	size: 200%;
	letter-spacing: 2px;
	font-family: myFirstFonttt;
}


.subsystemheading{
	text-align: center;
	font-family: myFirstFonttt;
	font-size: 225%;
	color: rgb(255,255,255);
	padding-bottom: 10px;
}

hr { 
    display: block;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 1px;
    width: 80%;
    color: rgb(210,210,210);
}

.subsystemsubheadings{
	text-align: left;
	font-family: myFirstFont;
	font-size: 175%;
	color: rgb(66, 134, 244);
	padding-top: 5px;
	padding-left: 10%;
}
.SubsystemContent{
	max-width: 1500px;
	font-family: myFirstFont ;
	color: rgb(230, 230, 230);
   text-align: justify;
   padding-left: 10%;
   padding-right: 10%;
   font-size: 110%;
   }

.teamIndBoxBackground{
	background-image: url("Teamphoto.jpg");
	width: 100%;
	height: auto;
	display: inline-block;
	position: relative;
	vertical-align: top;
	}


.teamheading{
	text-align: center;
	font-family: myFirstFonttt;
	letter-spacing: 2px;
	font-size: 200%;
	color: rgb(66, 134, 244);
	padding-bottom: 10px;
}

.paddingboxes{
	padding-left: 60px;
	display: inline-block;
}

.teamIndividualboxes{

	font-family: myFirstFonttt;
	font-size: 110%;
	width: 380px;
	margin: 20px;
	border: 1px hidden;
	height: 180px;
	display: inline-block;
	position: relative;
	vertical-align: top;
}

.teamIndividualImages{
	padding-right: 15px;
}

.teamIndividualboxesDesign{
	font-family: myFirstFont;
	color: rgb(244, 66, 66);
	padding-top: 3px;
	padding-bottom: 3px;
	font-size: 90%;
}

.fa {
  padding: 10px;
  font-size: 15px;
  width: 32px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  border-radius: 50%;
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}
.fa-google {
  background: #dd4b39;
  color: white;
}

.fa-linkedin {
  background: #007bb5;
  color: white;
}

.paddingAlumni{
	padding-left: 5%;
	padding-right: 5%;
	padding-top: 30px;

}

.paneltextsize{
		font-size: 150%;
}

#flip{
		animation: 1.5s ease-out 0s 1 slideInFromLeftAlumni;
}
#panel,#flip{

	padding:20px;
	text-align: center;
	font-family: myFirstFont;
	color: rgb(255,255,255	);
	background-color: rgba(44, 61, 79,0.3);
	border: hidden 1px;
	box-shadow: 8px 8px 8px rgb(79, 80, 81);
}

#panel{

	padding: 0px;
	text-align: left;
	vertical-align: top;
	display: none;
	background-color: rgb(211, 208, 208)
}

.hr1 { 
    display: block;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 1px;
    width: 90%;
}


.teamIndividualboxes1{

	font-family: myFirstFonttt;
	font-size: 110%;
	width: 350px;
	margin: 20px;
	border: 1px hidden;
	height: 180px;
	display: inline-block;
	position: relative;
	vertical-align: top;
	color: rgb(20,20,20);
}

#flip1{
	animation: 1.8s ease-out 0s 1 slideInFromLeftAlumni;
}

#panel1,#flip1{

	padding:20px;
	text-align: center;
	font-family: myFirstFont;
	color: rgb(255,255,255);
	background-color: rgba(44, 61, 79,0.3);
	border: hidden 1px;
	box-shadow: 8px 8px 8px rgb(79, 80, 81);

}
#panel1{
	padding: 0px;
	text-align: left;
	vertical-align: top;
	display: none;
	background-color: rgb(211, 208, 208)
}
#flip2
{
animation: 2s ease-out 0s 1 slideInFromLeftAlumni;

}
#panel2,#flip2{
	padding:20px;
	text-align: center;
	font-family: myFirstFont;
	
	border: hidden 1px;
	color: rgb(255,255,255);
	background-color: rgba(44, 61, 79,0.3);
box-shadow: 8px 8px 8px rgb(79, 80, 81);
}
#panel2{
	padding: 0px;
	text-align: left;
	vertical-align: top;
	display: none;
	background-color: rgb(211, 208, 208);
}

.paddingboxes1{
	padding-left: 30px;
	display: inline-block;
}


.AlumniBackground{
	background-image: url("G0032716.JPG");
height: auto;
	padding-top: 0;
	position: absolute;
	background-repeat: repeat-y;
	background-attachment: fixed;
	width: 100%;
	padding: 0;
	background-size: cover;
}



.Alumniheading1{
	text-align: center;
	font-family: myFirstFonttt;
	font-size: 225%;
	padding-top: 20px;
	padding-bottom: 10px;
	color: rgb(40,40,40);
}

.parallax{
	background-image: url("GOPR0552-2.jpg");	
	padding-top: 0;
	height: 375px;
	position: relative;
	background-repeat: repeat-y;
	background-attachment: fixed;
	width: 100%;
	padding: 0;
	background-size: cover;
	display: inline-block;

}

.paddingAbouttext1{
	padding-left: 100px;
	padding-right: 100px;
	padding-top: 70px;
}


.parallaximagecaption
{ 
   position: relative;
   vertical-align: top;
   font-family: myFirstFont ;
   text-align: justify;
   color: rgb(255, 255, 255);
   background-color: rgba(25, 25, 25,0.7);  
   height: 375px;
   width: 100%; 
   top: 0px; 
   padding: 0;
   font-size: 200%; 
   display: inline-block;
}


.parallaxsubsystem
{ 
   position: absolute;
   background-color: rgba(25, 25, 25,0.7);  
   height: auto;
   width: 100%; 
   top: 0px; 
   left: 0; 
   visibility: visible; 
}


.parallaxSubsystems{
	background-image: url("G0032728.JPG");
	padding-top: 0;
	position: relative;
	background-position: top;
	background-repeat: repeat-y;
	background-attachment: fixed;
	padding: 0;
	background-size: cover;
	top: 0;
	bottom: 0;
	vertical-align: top;
	height: auto;
	width: 100%;	

}

.sponsorheading{
	text-align: center;
	font-family: myFirstFonttt;
	font-size: 250%;
	padding-top: 10px;
	color: rgb(66, 134, 244);
}

.sponsorcontent{
	color: rgb(255,255,255);
	text-align: justify;
	padding-left: 100px;
	padding-right: 100px;
	font-size: 140%;
	padding-top: 10px;
	font-family: myFirstFontthin;
	padding-bottom: 20px;	
}

.sponsorIndividualboxes{
	width: 200px;
	margin-right: 120px;
	border: 1px hidden;
	height: 100px;
	display: inline-block;
	position: relative;
	vertical-align: top;
}

.ContactUsHeading{
	text-align: center;
	font-family: myFirstFonttt;
	font-size: 250%;
	padding-bottom: 20px;
	padding-top: 10px;
	color: rgb(66, 134, 244);
}

.form-center{
	display: block;
	text-align: center;
}

.form-class{
	display: inline-block;
	margin-left: auto;
	margin-right: auto;
	text-align: left; 
}
input, textarea, select, button {
    text-rendering: auto;
    color: initial;
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: start;
    margin: 0em;
    }



.paddingbetweenelements{
	padding-top: 10px;
	padding-bottom: 10px;
}
.input-name{
	width: 600px;
	padding-top: 10px;
	padding: 20px;
	border:0;
	font-size: 120%;
	font-family: myFirstFontthin;
}

.message-enter{
	height: 200px;
	resize: none;
}

textarea {
    -webkit-appearance: textarea;
    background-color: white;
    -webkit-rtl-ordering: logical;
    user-select: text;
    flex-direction: column;
    resize: auto;
    white-space: pre-wrap;
    word-wrap: break-word;
    border-width: 1px;
    border-style: solid;
    border-color: initial;
    border-image: initial;
    padding: 2px;
}
.submitbuttonpadding{
	padding-left: 250px;

}
 .contact-submit {
    height: 60px;
    margin-top: 10px;
    box-sizing: border-box;
    padding: 15px 20px 15px 20px;
    font-size: 20px;
    text-align: center;
    color: white;
    font-family: myFirstFont;
    border: 0;
    outline: 0;
    background: rgb(66, 134, 244);
}

button:hover{
	color: rgb(200,200,200);
}

@media only screen and (max-width: 550px){
	.slideshowcontainer{
		width: 300px;
	}
	.parallaxAbout{
		width: 100%;
	}
	.paddingAbouttext
	{
	padding-left: 20px;
	padding-right: 20px;
}
.textimageabout{
	font-size: 80%;
}



}
